<div class="d-flex flex-row mb-3">
  <div class="d-flex flex-column flex-shrink-0" >
  <%= link_to "#{inventory.name}", inventory, class:"fs-3 link-dark link-underline-light" %>
  <%= link_to "Remove" %>
  </div>

  <div class="flex-shrink-1  ms-3">
     <%= inventory.description %>
  </div>
</div>
